* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;   
}

body{
    display: flex;
    margin: 20%;
    text-align: center;
    
    
}

.card{
    background-color: rgba(203, 208, 252, 0.8);
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    color: rgb(74, 10, 158);
    
    
}

.card p{
    font-size: 1.5rem;
}

.card h2 {
    background-color: white;
    color: rgb(26, 85, 248);
    padding: 10px;
    margin: 4rem;
    border-radius: 8px;
}

.card button {
    display: inline-flex;
    background-color: rgb(3, 47, 128);
    color: white;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    width: 80%;
    outline: none;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
}

.card button:hover{
    background-color: white; 
    color: black;
    cursor: pointer;
    outline: none;
    margin-top: 0em;
}

